<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="3.1">
  <servlet>
    <servlet-name>logins</servlet-name>
    <servlet-class>Com.customer.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logins</servlet-name>
    <url-pattern>/cuslog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>customerinsert</servlet-name>
    <servlet-class>Com.customer.customerinsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customerinsert</servlet-name>
    <url-pattern>/insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <servlet-class>Com.customer.UpdateCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <url-pattern>/Updated</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <servlet-class>Com.customer.deletecustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <url-pattern>/Deleted</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>paymentServlet</servlet-name>
    <servlet-class>Com.Payment.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>paymentServlet</servlet-name>
    <url-pattern>/Pay</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SeatSelectionServlet</servlet-name>
    <servlet-class>Com.Booking.SeatSelectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeatSelectionServlet</servlet-name>
    <url-pattern>/Booking</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookingUpdateServlet</servlet-name>
    <servlet-class>Com.Booking.BookingUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingUpdateServlet</servlet-name>
    <url-pattern>/UpdateBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteBookingServlet</servlet-name>
    <servlet-class>Com.Booking.deleteBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookingServlet</servlet-name>
    <url-pattern>/BookingDeleted</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>Com.Search.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowServlet</servlet-name>
    <servlet-class>Com.Search.ShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowServlet</servlet-name>
    <url-pattern>/show</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mybookingServlet</servlet-name>
    <servlet-class>Com.Nav.MybookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mybookingServlet</servlet-name>
    <url-pattern>/AllB</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProfilegServlet</servlet-name>
    <servlet-class>Com.Nav.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfilegServlet</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>Com.Driver.driverLoginServlet </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/dlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>driverInsert</servlet-name>
    <servlet-class>Com.Driver.driverInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>driverInsert</servlet-name>
    <url-pattern>/dinsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateDriver</servlet-name>
    <servlet-class>Com.Driver.updateDriverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateDriver</servlet-name>
    <url-pattern>/dupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteDriver</servlet-name>
    <servlet-class>Com.Driver.deleteDriverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteDriver</servlet-name>
    <url-pattern>/ddelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReportIssue</servlet-name>
    <servlet-class>Com.Driver.issueInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportIssue</servlet-name>
    <url-pattern>/issue</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>contactUs</servlet-name>
    <servlet-class>Com.Driver.ContactUsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contactUs</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>aboutUs</servlet-name>
    <servlet-class>Com.Driver.AboutUsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aboutUs</servlet-name>
    <url-pattern>/about</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResetPassword</servlet-name>
    <servlet-class>Com.Driver.ResetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPassword</servlet-name>
    <url-pattern>/reset</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>busInsert</servlet-name>
    <servlet-class>Com.Driver.busInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>busInsert</servlet-name>
    <url-pattern>/bus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mlogin</servlet-name>
    <servlet-class>Com.manager.ManagerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mlogin</servlet-name>
    <url-pattern>/mlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updatemanager</servlet-name>
    <servlet-class>Com.manager.UpdateManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatemanager</servlet-name>
    <url-pattern>/mupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FeedbackServlet</servlet-name>
    <servlet-class>Com.feedback.FeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackServlet</servlet-name>
    <url-pattern>/submitFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewFeedbackServlet</servlet-name>
    <servlet-class>Com.feedback.ViewFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewFeedbackServlet</servlet-name>
    <url-pattern>/viewFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddBusServlet</servlet-name>
    <servlet-class>Com.Timetable.AddBusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBusServlet</servlet-name>
    <url-pattern>/maddBus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TimetableServlet</servlet-name>
    <servlet-class>Com.Timetable.TimetableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimetableServlet</servlet-name>
    <url-pattern>/timetable</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditBusServlet</servlet-name>
    <servlet-class>Com.Timetable.EditBusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBusServlet</servlet-name>
    <url-pattern>/medit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteBusServlet</servlet-name>
    <servlet-class>Com.Timetable.DeleteBusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBusServlet</servlet-name>
    <url-pattern>/mdelete</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>ALogin</servlet-name>
    <servlet-class>admin.login.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ALogin</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerInsertServlet</servlet-name>
    <servlet-class>admin.manager.ManagerInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerInsertServlet</servlet-name>
    <url-pattern>/man-insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProfileUpdate</servlet-name>
    <servlet-class>admin.login.ProfileUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileUpdate</servlet-name>
    <url-pattern>/adm-update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelete</servlet-name>
    <servlet-class>admin.login.AdminDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelete</servlet-name>
    <url-pattern>/adm-delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminInsertServlet</servlet-name>
    <servlet-class>admin.login.AdminInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminInsertServlet</servlet-name>
    <url-pattern>/adm-insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddRoute</servlet-name>
    <servlet-class>admin.route.AddRouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRoute</servlet-name>
    <url-pattern>/Add-Route</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteRoute</servlet-name>
    <servlet-class>admin.route.DeleteRouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRoute</servlet-name>
    <url-pattern>/Delete-Route</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>UpdateRoute</servlet-name>
    <servlet-class>admin.route.UpdateRouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRoute</servlet-name>
    <url-pattern>/Update-Route</url-pattern>
  </servlet-mapping>
</web-app>